/*
TOC:
0. Basics
1. Main
2. Projects
3. Nonprofits
4. Writing
*/




/* 0. Basics */
* {
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0 2vw;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  color: #cbcbcb !important;
}
a {
  text-decoration: inherit;
  color: inherit !important;
}
@font-face {
    font-family: Gallient;
    src: url(Gallient.ttf);
}
::selection {
  background-color: #8892b0;
  color: #ccd6f6;
}
#cursor {
    position: fixed;
    pointer-events: none;
    width: 600px;
    height: 600px;
    z-index: 9999;
}




/* 1. Main */


.fading {
  animation-name: smooth;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@-webkit-keyframes smooth {
    from { opacity: 100%;}
    to { opacity: 80%;}
}



#link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;

}
#link:before{
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #f1f5f9 !important;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
#link:hover:before {
  visibility: visible;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.type {
  color:#0000;
  background:
    linear-gradient(-90deg,#cbcbcb 5px,#0000 0) 10px 0,
    linear-gradient(#cbcbcb 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation:
   b .7s infinite steps(1),
   t calc(var(--n)*.05s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

.icon:hover {
  text-shadow: 2px 2px 4px white;

}

 @media only screen and (max-width : 768px) {
   .headshot {
     margin-top: 2rem;

   }
   .intro {
     justify-content: center;
   }
 }

 /* Menu Tab*/
.openbtn {
  overflow: hidden;
  float: right;
  transition: 0.3s;


}

.openbtn:hover {
  color: gray !important;
}

.closebtn {
  float: right;
  z-index: 99;
  transition: 0.3s;
}

.closebtn:hover {
  color: gray !important;
}

#nav a {
  transition: all 0.3s;
}
#nav a:hover {
  color: gray !important;

}

.overlay {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: rgb(0,0,0);
 background-color: rgba(0,0,0, 0.95);
 overflow-x: hidden;
 transition: 0.5s;
}

.overlay-content {
 position: right;

 width: 100%;
 text-align: left;
 margin-top: 30px;
}

.overlay a {
 padding: 8px;
 text-decoration: none;
 font-size: 36px;
 color: rgba(255, 255, 255, 0.75) !important;
 display: block;
 transition: 0.3s;
}
.overlay a:hover {
  color: #fff !important;
}

.overlay-content a {
 padding: 8px;
 text-decoration: none;
 font-size: 36px;
 color: white !important;
 -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
 display: block;
 transition: 0.3s;
}


.overlay-content a:hover {
  color: transparent !important;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.75);
}



.menutab a {
  font-size: 9vw;
}



.overlay .closebtn {
 position: absolute;
 top: 20px;
 right: 45px;
 font-size: 45px;
}

@media screen and (max-height: 450px) {
 .overlay a {font-size: 15vh}
 .overlay .closebtn {
 font-size: 40px;
 top: 15px;
 right: 35px;
 }
 .menutab a {
   font-size: 15vh;
 }
}


.typing-container {
  display: flex;
}
#feature-text {
  margin-left: 8px;
}
.input-cursor {
  display: inline-block;
  width: 2px;
  height: 50px;
  background-color: black;
  color: black;
  margin-left: 8px;
  animation: blink 0.6s linear infinite alternate;
}


@keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }






  .project {
    display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  }
  .project-content2 {
    position: relative;
      grid-area: 1 / 1 / -1 / 7;

  }
  .project-content1 {
    grid-column: 7 / -1;
      text-align: right;
      position: relative;
      grid-area: 1 / 6 / -1 / 12;
  }

  @media (max-width: 768px) {
    .project-content1 {
      grid-column: 1 / -1;
      padding: 40px 40px 30px;
      text-align: left;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      height: 100%;
      z-index: 5;
    }

  }

  @media (max-width: 786px) {
    .project-content2 {
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      height: 100%;
      grid-column: 1 / -1;
      padding: 40px 40px 30px;
      z-index: 5;
    }
  }

  .img{
    top:0;
    max-width: 569px;
    height: 360px;
    transition: all ease 0.25s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }


  .project-title{
    line-height: 1.1;

  }



  .project-description {
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
      position: relative;
      z-index: 2;
      padding: 25px;
      border-radius: 5px;
      font-size: 15px;
      background-color: #E0E0E0;
  }

  @media (max-width: 768px) {
    .project-description {
      padding: 20px 0px;
      background-color: transparent;
      box-shadow: none;
    }

  }

  .project-image1 {
    grid-column: 1 / 8;
    grid-area: 1 / 1 / -1 / 8;
      position: relative;
      z-index: 1;

  }

  @media (max-width: 768px) {
    .project-image1 {
      grid-column: 1 / -1;
      object-fit: cover;
      opacity: 0.2;
      background-size: 100%;
    }

  }

  @media (max-width: 786px) {
    .project-image2 {
      grid-column: 1 / -1 !important;
      object-fit: cover;
      opacity: 0.2;
      background-size: 100%;
    }

  }





  .project-image2 {
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;

  }

  .project .project-image a::before {
    content: "";
      position: absolute;

      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: 3;
  }

  .project-image {
    border-radius: 10px;
  }
